.text {
  font-family: Roboto;
  font-size:15px;
  font-style: lighter;
}

.therblig-animation {
  width: 250px;
  height: 142px;
  background-color: lightgrey;
  -moz-box-shadow:     inset 0px 3px 20px #8C8C8C;
   -webkit-box-shadow: inset 0px 3px 20px #8C8C8C;
   box-shadow:         inset 0px 3px 20px #8C8C8C;
}

.element {
    padding: 16px;
    margin: 5px;
    text-align: center;
    font-style: italic;
}

/* div {
  white-space: pre-wrap;
} */

/* mat-icon {
  vertical-align: top;
}

mat-list-item {
  padding-left: 0px !important;
  padding-right: 0px !important;
} */
