<?xml version="1.0"?>
<robot name="m1n6s_robotiq85" xmlns:xacro="http://ros.org/wiki/xacro">

	<link name="root">
  </link>

  <!-- for gazebo -->
  <link name="world"/>
  <joint name="connect_root_and_world" type="fixed">
    <child link="root" />
    <parent link="world" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

	<!-- THE ROBOT -->
	<link name="base_link" />

	<!-- M1N6S Mico Arm -->
	<xacro:include filename="$(find m1n6s_robotiq85_moveit_config)/urdf/m1n6s.xacro" />
  <joint name="base_joint" type="fixed">
		<parent link="base_link" />
		<child link = "root" />
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
	</joint>
  <xacro:m1n6s base_parent="root" />

	<!-- Robotiq 85-->
	<xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />
	<xacro:robotiq_85_gripper prefix="" parent="m1n6s200_end_effector">
	  <origin xyz="0 0 0" rpy="${pi/2} -${pi/2} 0" />
	</xacro:robotiq_85_gripper>

</robot>
