.therblig {
    font-family: 'Roboto', sans-serif;
    height: 40px;
    font-size: 10px;
    border-radius: 10px;
    background-color: grey;
    text-align: center;
}

.transport_empty, .grasp, .transport_loaded, .release_load, .hold, .position, .rest, .preposition {
  background-color: #82c3b8;
}

.search, .find, .select, .inspect, .plan {
    background-color: #a0db9b
}

.assemble, .disassemble, .use {
    background-color: #b1e0ee
}

.container {
  overflow-x: scroll;
}

/* td.mat-column-star {
  width: 20px;
  padding-right: 8px;
} */

th.mat-header-cell {
    text-align: center !important;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
  background-color: #f0f0f0;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}
