<mat-toolbar fxLayout="row" fxLayoutAlign="space-around center">
    <span>Agents Setup</span>
</mat-toolbar>
<mat-divider></mat-divider>
<p class='info mat-elevation-z2'>
  An Agent is a human or robot that can perform Therbligs, manipulate Things, and move to Destinations.<br>
  When an Agent is created, a paired destination for the initial location is automatically created.
</p>

<ng-container *ngFor="let agent of authrService.agentKeys">
    <agent [key]=agent></agent>
</ng-container>

<div class="form-container" fxLayoutAlign="space-around center">
    <button matInput mat-raised-button color="accent" (click)='authrService.addAgent()'>Add Agent</button>
</div>
